.headerContainer {
    display: flex;
   /* border: 3px solid black;*/
    height: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .navLinks ul {
    display: flex;
    font-size: 14px;
    font-weight: 700;
  }
  .navLinks sup {
    color: #ff3f6c;
  }
  .searchBar {
    background: #f5f5f6;
    width: 320px;
    min-width: 198px;
    height: 42px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
  }
  .searchBar input {
    background: #f5f5f6;
    border: none;
    outline: none;
    width: 90%;
    margin-left: 20px;
    padding-right: 10px;
  }
  .searchBar i {
    margin-left: 19px;
  }
  
  .navLinks ul li {
    list-style: none;
    margin: 0px 38px 0px 0px;
  }
  .navLinks ul a {
    text-decoration: none;
    color: #90929b;
    color: #35394b;
  }
  .svgContent {
    width: 5%;
    padding-left: 25px;
  }
  .svgContent img {
    width: 55px;
  }
  .Profile {
    padding-right: 25px;
    display: flex;
    width: 12%;
    justify-content: space-between
  }
  .icons {
    display: flex;
    /* flex-flow: row; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icons sup{
    color: #fff;

  }
  .bagLink {
    text-decoration: none;
    color: inherit;
    gap: 8px; /* Adds spacing between icon and text */
  }
  
  .iconContainer {
    position: relative;
  }
  
  .badge {
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 7px 6px;
  }

 
  